
.vscode/

BlingBlong/obj/Debug/net5.0/BlingBlong.GeneratedMSBuildEditorConfig.editorconfig

BlingBlong/obj/Debug/net5.0/BlingBlong.csproj.AssemblyReference.cache

BlingBlong/obj/Debug/net5.0/BlingBlong.AssemblyInfoInputs.cache

BlingBlong/obj/Debug/net5.0/BlingBlong.assets.cache

BlingBlong/obj/Debug/net5.0/BlingBlong.AssemblyInfo.cs

BlingBlong/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
